# =========================
# Operating System Files
# =========================
Thumbs.db
.DS_Store

# =========================
# IDEs & Editors
# =========================
.vscode/
*.swp
*.swo

# =========================
# Frontend (React / Vite)
# =========================
frontend/node_modules/
frontend/.vite/
frontend/dist/
frontend/dist-ssr/
frontend/npm-debug.log*
frontend/package-lock.json

# =========================
# Backend (Java / Spring Boot)
# =========================
backend/target/
backend/*.class
backend/*.log
backend/*.jar
backend/*.war

# =========================
# Environment Variables
# =========================
*.env
*.env.local